{% extends "base.html" %}

{% block content %}
<div class="container d-flex flex-column flex-lg-row align-items-center">
	<div class="text-center px-3 mb-3 techday-login-left-pane">
		<img src="/img/header-techday.jpg" alt="Étudiants d'INTECH lors d'un précédent Tech Day" class="img-fluid mb-3 techday-header">
		<h1>Jury en ligne</h1>
		<h2 class="mb-4">Tech Day INTECH</h2>
		<ol class="mb-4">
			<li>
				Veuillez saisir l'adresse email avec laquelle vous vous êtes inscrit pour accéder à votre espace personnel.
			</li>
			<li>
				Dans cet espace vous sera proposée une sélection de trois vidéos à regarder obligatoirement et à évaluer.
			</li>
			<li>
				Après avoir visionné et évalué ces vidéos, vous pourrez accéder à l'ensemble des vidéos des autres projets.
			</li>
		</ol>
		<p>
			Vous aurez besoin d'une petite heure, le vendredi 9 juillet, entre 9h00 et 18h00
			pour noter les vidéos qui vous seront attribuées. Il n'y a pas d'horaire imposé, vous pouvez donc si vous le souhaitez
			procéder à la notation en plusieurs fois, par des sessions de 15/20min (c'est la durée d'une vidéo).
		</p>
	</div>
	<div class="px-3 flex-grow-1 techday-login-right-pane">
		<h2>Connexion</h2>
	
		<form action="/login" method="POST">
			<div class="mb-3">
				<label for="field-email" class="form-label">Email</label>
				<input type="email" name="email" class="form-control {% if emailNotFound %}is-invalid{% endif %}" id="field-email">
				{% if emailNotFound %}
				<div class="invalid-feedback">
					Adresse email inconnue
				</div>
				{% endif %}
			</div>
			<button type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>
</div>
{% endblock %}
