{% from "landing/project-card.html" import projectCard %}
{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Vidéos</h1>

	{% if hasWatchedAllVideos %}
	<p class="text-center fs-3 my-5">
		Vous avez regardé les vidéos qui vous étaient attribuées. Merci !<br>
		Vous pouvez désormais accéder à toutes les autres vidéos :<br>
		<a href="/projects" class="btn btn-primary">Voir tous les projets</a>
	</p>
	{% else %}
	<p>
		Regardez et évaluez ces {{ evaluator.to_evaluate.length }} vidéos avant de pouvoir accéder à toutes les vidéos.
	</p>
	{% endif %}

	<div class="row row-cols-1 row-cols-md-2 g-4">
		{% for attribution in evaluator.to_evaluate %}
		<div class="col">
			{{ projectCard(attribution.project, hasGrades[loop.index0], "/projects?id=" + attribution.project.id) }}
		</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
