{% macro projectCard(project, isEvaluated, watchLink) %}
<div class="card">
	<div class="card-body">
		<div class="d-flex flex-row justify-content-between">
			<h5 class="card-title">
				{{ project.name }}
			</h5>
			<em class="text-muted">
				{% if isEvaluated %}
				Évalué
				{% else %}
				&nbsp;
				{% endif %}
			</em>
		</div>
		<h6 class="card-subtitle mb-2 text-muted">
			Semestre {{ project.semester }}
			{% if project.filiere != "none" %}{{ project.filiere | filiereLong }}{% endif %}
		</h6>
		<p class="card-text">
			{% for student in project.students %}
			{{ student.firstname }} {{ student.lastname }}{{ "," if loop.last === false }}
			{% endfor %}
		</p>
		<div class="d-grid gap-2 col-6 mx-auto">
			<a href="{{ watchLink }}" class="btn btn-primary">{{ "Revoir" if isEvaluated else "Regarder" }}</a>
		</div>
	</div>
</div>
{% endmacro %}
