{% from "landing/project-card.html" import projectCard %}
{% extends "base.html" %}

{% block content %}
<div class="container">
	<h1>Tous les projets</h1>

	<ul class="nav nav-tabs mt-3">
		{% for semestre in [1, 2, 3, 4, 5] %}
		<li class="nav-item">
			<a href="/projects?semestre={{ semestre }}" class="nav-link {% if activeSemester == semestre %}active{% endif %}">Semestre {{ semestre }}</a>
		</li>
		{% endfor %}
	</ul>

	<div class="row row-cols-1 row-cols-md-3 g-4 mt-3">
		{% for project in projects %}
		{% if project.semester == activeSemester %}
		<div class="col">
			{{ projectCard(project, hasGrades(project), "/projects?id=" + project.id) }}
		</div>
		{% endif %}
		{% endfor %}
	</div>
</div>
{% endblock %}
