{% macro gradesForm(evaluator, project, criterias, grades, remarks) %}
<form action="{% if not grades %}/projects-evaluate{% else %}/projects-edit{% endif %}" method="POST">
	<input type="hidden" name="evaluator_id" value="{{ evaluator.id }}">
	<input type="hidden" name="project_id" value="{{ project.id }}">

	{% for grade in grades %}
	<div class="row mb-4">
		<div class="col-4">
			<label for="field-criteria-{{ loop.index }}" class="form-label mb-2"><strong>{{ criterias[loop.index0].name }}</strong><br>(Note sur 5)</label>
			<input type="hidden" name="grades-id" value="{{ grade.id }}" />
			<input type="number" name="grades" id="field-criteria-{{ loop.index }}" min="0" max="5" required class="form-control mb-3"
				value="{{ grade.value }}" />
		</div>
		<div class="col-8 mb-2">
			{{ criterias[loop.index0].description }}
		</div>
	</div>
	{% else %}
	{% for criteria in criterias %}
	<div class="row mb-4">
		<div class="col-4">
			<label for="field-criteria-{{ loop.index }}" class="form-label mb-2"><strong>{{ criteria.name }}</strong><br>(Note sur 5)</label>
			<input type="number" name="grades" id="field-criteria-{{ loop.index }}" min="0" max="5" required class="form-control mb-3" />
		</div>
		<div class="col-8 mb-2">
			{{ criteria.description }}
		</div>
	</div>
	{% endfor %}
	{% endfor %}

	<div class="mb-4">
		<label for="field-remarks" class="form-label mb-2"><strong>Remarques</strong></label>
		<textarea name="remarks" id="field-remarks" class="form-control" placeholder="Laissez un commentaire aux étudiants (optionnel)" rows="5">{{ remarks }}</textarea>
	</div>

	<button class="btn btn-primary">Noter</button>
</form>
{% endmacro %}
