{% from "projects/grades-form.html" import gradesForm %}
{% extends "base.html" %}

{% macro membersList(students) %}
<h2 class="h4">Membres de l'équipe</h2>
<ul>
	{% for student in students %}
	<li>
		{{ student.firstname }} {{ student.lastname }} -
		<a href="mailto:{{ student.email }}">{{ student.email }}</a>
	</li>
	{% endfor %}
</ul>
{% endmacro %}

{% block content %}
<div class="container">
	<h1>{{ project.name }}</h1>

	<div class="row">
		<div class="{% if displayNotes %}col-md-6{% else %}col-md-8{% endif%} mx-auto">
			<h2 class="h4">Vidéo</h2>
			<p>
				Semestre {{ project.semester }}
				{% if project.filiere != "none" %}
				Filière {{ project.filiere | filiereLong }}
				{% endif %}
			</p>
			{% if project.video_type == "hosted" %}
			<video controls style="max-width: 100%;" class="mb-3">
				<source src="{{ project.video_url }}" type="video/mp4">
			</video>
			{% endif %}

			{% if displayNotes %}
			{{ membersList(project.students) }}
			{% endif %}
		</div>
		<div class="{% if displayNotes %}col-md-6{% else %}col-md-4{% endif%}">
			{% if displayNotes %}
			<h2 class="h4">Notation</h2>
			{{ gradesForm(evaluator, project, criterias, grades, remarks) }}
			{% else %}
			{{ membersList(project.students) }}
			{% endif %}
		</div>
	</div>
</div>
{% endblock %}
