{% macro criteriaForm(action, criteria) %}
<div class="row">
	<div class="col-5">
		<form action="{{ action }}" method="POST">
			{% if criteria %}
			<input type="hidden" name="id" value="{{ criteria.id }}">
			{% endif %}

			<div class="mb-3">
				<label for="field-name" class="form-label">Nom</label>
				<input type="text" name="name" value="{{ criteria.name if criteria }}" id="field-name" class="form-control" required>
			</div>
			<div class="mb-3">
				<label for="field-description" class="form-label">Description</label>
				<textarea name="description" id="field-description" class="form-control" required>{{ criteria.description if criteria }}</textarea>
			</div>
			<div class="mb-3">
				<label for="field-weight" class="form-label">Poids</label>
				<input type="number" name="weight" value="{{ criteria.weight if criteria }}" id="field-weight" class="form-control">
			</div>
			<button type="submit" class="btn btn-primary">Valider</button>
		</form>
	</div>
</div>
{% endmacro %}
