{% from "admin/criterias/criteria-form.html" import criteriaForm %}
{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<p class="h4">Modifier un critère</p>
	{{ criteriaForm(adminPath + "/admin/update-criteria", criteria) }}
</div>
{% endblock %}
