{% from "admin/criterias/criteria-form.html" import criteriaForm %}
{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<p class="h4">Critères</p>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Description</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for criteria in criterias %}
			<tr>
				<td>{{ criteria.name }}</td>
				<td>{{ criteria.description }}</td>
				<td>
					<a href="{{ adminPath }}/admin/update-criteria?id={{ criteria.id }}">modifier</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>

	<p class="h4">Ajouter un critère</p>
	{{ criteriaForm(adminPath + "/admin/create-criteria") }}
</div>
{% endblock %}
