{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<p class="h4">Jurys</p>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Enfant</th>
				<th>Type</th>
				<th>Préférences</th>
				<th>Passages</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
			{% for jury in jurys %}
			<tr>
				<td>{{ jury.name }}</td>
				<td>{% if jury.children %}{{ jury.children.firstname }} {{ jury.children.lastname }}{% endif %}</td>
				<td>{{ jury.type | juryType }}</td>
				<td>
					{% for wish in jury.viewingWishes %}
					{{ wish | filiere }}
					{% endfor %}
				</td>
				<td>
					<!-- {% for attribution in jury.to_evaluate %}
					<a href="{{ adminPath }}/admin/update-project?id={{ attribution.project.id }}">{{ attribution.project.name }}</a>
					{% if loop.last === false %}<br>{% endif %}
					{% endfor %} -->
					{{ jury.to_evaluate.length }} passages
				</td>
				<td>
					<a href="{{ adminPath }}/admin/update-jury?id={{ jury.id }}">modifier</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
