{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<div class="row">
		<div class="col">

			<h2 class="h4">Jury</h2>
			<dl class="row">
				<dt class="col-4">Nom</dt>
				<dd class="col-8">{{ jury.name }}</dd>

				<dt class="col-4">Enfant</dt>
				<dd class="col-8">
					{% if jury.children %}
					{{ jury.children.firstname }} {{ jury.children.lastname }}
					{% else %}
					<em>Aucun</em>
					{% endif %}
				</dd>

				<dt class="col-4">Type</dt>
				<dd class="col-8">{{ jury.type }}</dd>

				<dt class="col-4">Projets à évaluer</dt>
				<dd class="col-8">
					{% for attribution in jury.to_evaluate %}
					{{ attribution.project.name }},
					S{{ attribution.project.semester }} {{ attribution.project.filiere | filiere }}
					{% if attribution.manual %}(manuel){% endif %}
					<a href="{{ adminPath }}/admin/delete-jury-attribution?evaluator_id={{ jury.id }}&project_id={{ attribution.project.id }}">supprimer</a>
					{% if loop.last === false %}<br>{% endif %}
					{% else %}
					<em>Aucun</em>
					{% endfor %}
				</dd>
			</dl>
		</div>

		<div class="col">
			<h2 class="h4">Ajouter un projet à évaluer</h2>
			<form action="{{ adminPath }}/admin/add-jury-attribution" method="POST">
				<input type="hidden" name="evaluator_id" value="{{ jury.id }}">

				<div class="mb-3">
					<label for="field-project_id" class="form-label">Projet</label>
					<select name="project_id" id="field-project_id" class="form-select">
						{% for project in projects %}
						{% if project.active %}
						<option value="{{ project.id }}">{{ project.name }}</option>
						{% endif %}
						{% endfor %}
					</select>
				</div>

				<button type="submit" class="btn btn-primary">Valider</button>
			</form>
		</div>
	</div>

	<h2 class="h4">Notes</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Projet</th>
				{% for criteria in criterias %}
				<th>{{ criteria.name }}</th>
				{% endfor %}
				<th>Remarques</th>
			</tr>
		</thead>
		<tbody>
			{% for record in gradesByProject %}
			<tr>
				<td>
					<a href="{{ adminPath }}/admin/update-project?id={{ record.project.id }}">{{ record.project.name }}</a><br>
					S{{ record.project.semester }} {{ record.project.filiere | filiere }}
				</td>
				{% for grade in record.grades %}
				<td class="text-end">{{ grade.value }}</td>
				{% else %}
				{% for criteria in criterias %}
				<td></td>
				{% endfor %}
				{% endfor %}
				<td>{{ record.remarks.remark | striptags(true) | escape | nl2br }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
