@import url("/fonts/Muli-ExtraBold.ttf");
@import url("/fonts/Muli-Medium.ttf");
@import url("/fonts/Poppins-Bold.ttf");

/* Colors */
/**
 * Primary
 * #75B758 vert
 * Secondary
 * #F59925 orange
 * #2F4049 gris-bleu
 */

html {
	height: 100%;
}

body {
	min-height: 100%;
}

#techday-app h1 {
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	color: #75B758;
}

#techday-app h4,
#techday-app h5,
#techday-app h6,
#techday-app p,
#techday-app ol,
#techday-app em
{
	font-family: 'Muli', sans-serif;
	font-weight: normal;
	color: #2F4049;
}

#techday-app .techday-header {
	max-width: 80%;
}

@media (min-width: 1200px) {
	#techday-app .techday-login-left-pane {
		width: 60%;
	}

	#techday-app .techday-login-right-pane {
		width: 40%;
	}
}

#techday-app .nav-link {
	font-family: 'Muli', sans-serif;
	color: #2F4049;
}

#techday-app .nav-link:not(.active) {
	color: #75B758;
}

#techday-app .btn-primary {
	background-color: #75B758;
	border-width: 0px;
}
