{% macro projectForm(action, project) %}
<form action="{{ action }}" method="POST">
	{% if project %}
	<input type="hidden" name="id" value="{{ project.id }}">
	{% endif %}

	<div class="mb-3">
		<label for="field-name" class="form-label">Nom</label>
		<input type="text" name="name" value="{{ project.name if project }}" id="field-name" class="form-control" required>
	</div>
	<div class="mb-3">
		<label for="field-semester" class="form-label">Semestre</label>
		<select name="semester" id="field-semester" class="form-select" required>
			{% for number in [1, 2, 3, 4, 5] %}
			<option value="{{ number }}" {% if project and project.semester == number %}selected{% endif %}>{{ number }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mb-3">
		<label for="field-filiere" class="form-label">Filière</label>
		<select name="filiere" id="field-filiere" class="form-select" required>
			{% for val, filiere in [["none", ""],["il", "IL"],["asi","ASI"]] %}
			<option value="{{ val }}" {% if project and project.filiere == val %}selected{% endif %}>{{ filiere }}</option>
			{% endfor %}
		</select>
	</div>
	<div class="mb-3">
		<label for="field-video_url" class="form-label">URL de la vidéo</label>
		<input type="text" name="video_url" value="{{ project.video_url if project }}" id="field-video_url" class="form-control">
	</div>
	<div class="mb-3">
		<label for="field-video_type" class="form-label">Type de vidéo</label>
		<select name="video_type" id="field-video_type" class="form-select">
			{% for type, label in [["", ""], ["hosted", "Hebergé (lien fichier)"]] %}
			<option value="{{ type }}" {% if project and project.video_type == type %}selected{% endif %}>{{ label }}</option>
			{% endfor %}
		</select>
	</div>
	<button type="submit" class="btn btn-primary">Valider</button>
</form>
{% endmacro %}
