{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<p class="h4">Projets</p>
	<table class="table">
		<thead>
			<tr>
				<th>Nom</th>
				<th>Semestre</th>
				<th>Filière</th>
				<th>Membres</th>
				<th>Jurys</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for project in projects %}
			<tr class="{% if project.active == false %}text-decoration-line-through text-muted{% endif %}">
				<td>{{ project.name }}</td>
				<td>{{ project.semester }}</td>
				<td>{{ project.filiere | filiere }}</td>
				<td>
					<!-- {% for student in project.students %}
					{{ student.firstname }} {{ student.lastname }}{% if loop.last === false %}<br>{% endif %}
					{% endfor %} -->
					{{ project.students.length }} étudiants
				</td>
				<td>
					<!-- {% for evaluator in evaluators[loop.index0] %}
					<em>{{ evaluator.type }}</em>
					<a href="{{ adminPath }}/admin/update-jury?id={{evaluator.id}}">{{ evaluator.name }}</a>
					{% if loop.last === false %}<br>{% endif %}
					{% endfor %} -->
					{{ evaluators[loop.index0].length }} jurys
				</td>
				<td>
					<a href="{{ adminPath }}/admin/update-project?id={{ project.id }}">modifier</a>
					<a href="{{ adminPath }}/admin/toggle-project?id={{ project.id }}">{{ "désactiver" if project.active else "activer" }}</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
