{% from "admin/projects/project-form.html" import projectForm %}
{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<div class="row">
		<div class="col-5">
			<p class="h4">Modifier un projet</p>
			{{ projectForm(adminPath + "/admin/update-project", project) }}
		</div>
		<div class="col-7">
			<div class="row">
				<div class="col">
					<h2 class="h4">Vidéo</h2>
		
					{% if project.video_type == "hosted" %}
					<video controls style="max-width: 100%;" class="mb-3">
						<source src="{{ project.video_url }}" type="video/mp4">
					</video>
					{% else %}
					<em>Pas encore de lien.</em>
					{% endif %}
				</div>
				<div class="col">
					<h2 class="h4">Membres de l'équipe</h2>
					<ul>
						{% for student in project.students %}
						<li>
							{{ student.firstname }} {{ student.lastname }}<br>
							<a href="mailto:{{ student.email }}">{{ student.email }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>

	<h2 class="h4">Notes</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Jury</th>
				{% for criteria in criterias %}
				<th>{{ criteria.name }}</th>
				{% endfor %}
				<th>Remarques</th>
			</tr>
		</thead>
		<tbody>
			{% for record in gradesByEvaluator %}
			<tr>
				<td>
					<a href="{{ adminPath }}/admin/update-jury?id={{ record.evaluator.id }}">{{ record.evaluator.name }}</a><br>
					{{ record.evaluator.type }}
				</td>
				{% for grade in record.grades %}
				<td class="text-end">{{ grade.value }}</td>
				{% else %}
				{% for criteria in criterias %}
				<td></td>
				{% endfor %}
				{% endfor %}
				<td>{{ record.remarks.remark | striptags(true) | escape | nl2br }}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</div>
{% endblock %}
