{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<p>
		Statistiques :<br>
		<ul>
			<li>{{ evaluators_nb }}</li>
			<li>{{ projects_nb }}</li>
			<li>{{ students_nb }}</li>
		</ul>
	</p>

	<p class="h4">Génération des passages</p>
	<div class="row">
		<div class="col-5">
			<form action="{{ adminPath }}/admin/generate-attributions" method="POST">
				<div class="mb-3">
					<label for="field-evaluators-goal" class="form-label">Passages minimum par jury</label>
					<input type="number" name="evaluators_goal" id="field-evaluators-goal" class="form-control">
				</div>
				<div class="mb-3">
					<label for="field-projects-goal" class="form-label">Passages minimum par projet</label>
					<input type="number" name="projects_goal" id="field-projects-goal" class="form-control">
				</div>
				<button type="submit" class="btn btn-primary">Valider</button>
			</form>
		</div>
	</div>
</div>
{% endblock %}
