{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<h1>Import des données</h1>

	{% macro importForm(action, name, label) %}
	<div class="row mb-3">
		<div class="col-5">
			<form action="{{ action }}" enctype="multipart/form-data" method="POST">
				<div class="mb-3">
					<label for="field-{{ name }}" class="form-label">{{ label }}</label>
					<input type="file" name="{{ name }}" id="field-{{ name }}" class="form-control form-control-sm" />
				</div>
				<button type="submit" class="btn btn-primary">Valider</button>
			</form>
		</div>
	</div>
	{% endmacro %}

	{{ importForm(adminPath + "/admin/import-students", "students", "Étudiants (eleves.json)") }}
	{{ importForm(adminPath + "/admin/import-projects", "projects", "Projets (projets.csv)") }}
	{{ importForm(adminPath + "/admin/import-jurys", "jurys", "Jurys (parents, alternants, salariés, anciens)") }}
	{{ importForm(adminPath + "/admin/import-partners", "partners", "Jurys (partenaires entreprises)") }}
</div>
{% endblock %}
