<nav class="navbar navbar-expand-lg navbar-light bg-light border border-light rounded-3 mt-3 mb-3">
	<div class="container-fluid">
		<a href="{{ adminPath }}/admin" class="navbar-brand">Tech Day</a>
		<ul class="navbar-nav">
			<li class="nav-item">
				<a href="{{ adminPath }}/admin/imports" class="nav-link">Imports</a>
			</li>
			<li class="nav-item">
				<a href="{{ adminPath }}/admin/criterias" class="nav-link">Critères</a>
			</li>
			<!-- <li class="nav-item">
				<a href="{{ adminPath }}/admin/students" class="nav-link">Étudiants</a>
			</li> -->
			<li class="nav-item">
				<a href="{{ adminPath }}/admin/projects" class="nav-link">Projets</a>
			</li>
			<li class="nav-item">
				<a href="{{ adminPath }}/admin/evaluators" class="nav-link">Jurys</a>
			</li>
			<li class="nav-item">
				<a href="{{ adminPath }}/admin/results" class="nav-link">Résultats</a>
			</li>
		</ul>
	</div>
</nav>