{% extends "base.html" %}

{% block content %}
<div class="container">
	{% include "admin/navbar.html" %}

	<h1>Résultats</h1>

	<div class="row row-cols-3">
		<div class="col">
			<h2>Première année</h2>
			{{ resultTable(results1A) }}
		</div>
		<div class="col">
			<h2>{{ "il" | filiereLong }}</h2>
			{{ resultTable(resultsIL) }}
		</div>
		<div class="col">
			<h2>{{ "asi" | filiereLong }}</h2>
			{{ resultTable(resultsSR) }}
		</div>
	</div>
</div>
{% endblock %}

{% macro resultTable(results) %}
<table class="table table-bordered table-sm">
	<thead>
		<tr>
			<th>Semestre</th>
			<th>Projet</th>
			<th>Note /20</th>
		</tr>
	</thead>
	<tbody>
		{% for result in results %}
		<tr>
			<td class="text-end">{{ result.project.semester }}</td>
			<td><a href="{{ adminPath }}/admin/update-project?id={{ result.project.id }}" class="text-dark">{{ result.project.name }}</a></td>
			<td class="text-end">{{ (result.value * 20) | round(2) }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{% endmacro %}
